{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}



    {% include 'includes/header.html.twig' %}

    <div class="container">
        <h1 class="text-center mt-5">Votre panier</h1>
        <a href="{{ path("panier_delete_all") }}"><button class="btn btn-danger btn-sm p-1" style="font-size: 12px">Supprimer le panier</button></a>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for element in dataPanier %}
                    <tr>
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.categories.name }}</td>
                        <td>{{ element.product.price }}</td>
                        <td class="text-center">
                                    <span class="mr-2">
                                      <a href="{{ path("panier_supp", {id: element.product.id}) }}">
                                    <i class="fas fa-minus"></i>
                                      </a>
                                    </span>
                            {{ element.quantite }}
                            <span class="ml-2">
                                        <a href="{{ path("panier_add", {id: element.product.id}) }}">
                                    <i class="fas fa-plus"></i>
                                        </a>
                                  </span>
                        </td>
                        <td>{{ element.quantite * element.product.price }} €</td>
                        <td><a href="{{ path("panier_delete", {id: element.product.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est vide</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div  class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Montant à payer</h6>
                        <h3 class="card-text">{{ total }} €</h3>
                        <a href="{{ path("app_payement") }}" class="btn btn-primary btn-block">Payer</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="{{ asset('images/logo/mtblogo2.png')}}" alt="" width="50" height="50">
              <small class="d-block mb-3 text-body-secondary">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
              <h5>Products</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_books') }}">Books </a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_computers') }}">Computers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_hiffis') }}">Hiffis</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Services</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_register') }}">Registration</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_login') }}">Login</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_user') }}">mon Profil</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_panier') }}">Panier</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_main') }}">Accueil</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('chat') }}">Mini-Chat</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_post_index') }}">Blog</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_contact') }}">contact</a></li>
              </ul>
            </div>
          </div>
      </div>
    </footer>
    

{% endblock %}