{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}

{% include 'includes/header.html.twig' %}
{% include 'includes/accueil.html.twig' %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container" style="margin: 4em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="{{ asset('images/logo/mtblogo2.png')}}" alt="" width="50" height="50" >
          <small class="d-block mb-3 text-body-secondary">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
          <h5>Nos Produits</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_books') }}">Livres </a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_computers') }}">Informatique</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('product_hiffis') }}">HIFFI</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_register') }}">S'inscrire</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_login') }}">Se connecter</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_user') }}">Mon Profil</a></li>
           {#} <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_panier') }}">Panier</a></li>#}
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>À propos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_main') }}">Accueil</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('chat') }}">Mini-Chat</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_post_index') }}">Blog</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ path('app_contact') }}">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

{% endblock %}
