{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Formulaire de contact</h1>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.content) }}
            {{ form_row(form.confirm) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
