{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% include 'includes/header.html.twig' %}
    <div class="container">
        <h1 class="mt-5">Article posté le {{ post.createdAt ? post.createdAt|date('d-m-Y') : '' }}</h1>

        <div class="row">
            <div class="col-md-6 mb-3">
                <img src="{{ asset(post.getImageUrl()) }}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 mb-3">
                <div class="mb-3">
                    <h5>Titre</h5>
                    <p>{{ post.title }}</p>
                </div>

                <div class="mb-3">
                    <h5>Description</h5>
                    <p>{{ post.description }}</p>
                </div>              

                <div class="mb-3">
                    <h5>Liste des commentaires</h5>
                    <div class="panel panel-default overflow-auto" style="max-height: 200px;">
                        <div class="panel-body">
                            <ul>
                                {% for comment in post.comment %}
                                    <li>{{ comment.user.firstname }}: {{ comment.content }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <a href="{{ path('app_comment_new', {'id': post.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
                </div>

                <a href="{{ path('app_post_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
